.gray{
    background-color: gray;
}
.large{
    font-size: 4em;
}
.profile{
    &__section{
        align-items: center;
        display: flex;
        background-color: #EEEEEE;
        justify-content: center;
        flex-direction: column;
    }
}