<h1 [ngClass]="{
  'gray': isClicked,
  'large': !isClicked
  }">Home binded by ngClass</h1>
<h1 [style.color]="isClicked ? 'gray' : 'purple'">Home binded by style.color</h1>
<h1 [ngStyle]="{
  'color': isClicked ? 'gray' : 'blue',
  'font-size': !isClicked ? '2em' : '3.5em' 
}">Home binding by ngStyle</h1>
<button (click)="firstClick()">Toggle Header Color </button>

<div *ngIf="profiles" class="profile__section">
    <app-profiles  *ngFor="let profile of profiles.data" [profile]="profile"></app-profiles>
</div>